
	a.links:link {
		color: #FFFFFF;
		text-decoration:none;
		word-spacing: 50px;
		font-family: "Century Gothic", Arial, Helvetica, sans-serif;
		font-size: 40pt;
	
		}
	

.body-index {
margin-top: 10% !important;
	text-align:center;
    
    width: 100%;
height: 100%;
    position: fixed;
  background: url("../images/home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home.jpg', sizingMethod='scale')";
     margin-left: 0;

    
	}
		



.mainImage {
    
     float: none;
    margin: 0 auto;
    background-image: url("../images/HomePage_blur.jpg");
   width: 858px;
height: 339px;
    border: 4px solid white;

    

}

.links {
margin-right: 2%;
margin-top: 25%;
color:white;
}





/*About*/	
	

.body-about {
margin-top: 1% !important;
	text-align:center;
    
    width: 100%;
height: 100%;
    position: fixed;
  background: url("../images/about2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/about2.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/about2.jpg', sizingMethod='scale')";
    margin-left: 0;

    
	}


.work-about {
margin-top: 1% !important;
	text-align:center;
    
    width: 100%;
height: 100%;
    position: fixed;
  background: url("../images/work.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/work.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/work.jpg', sizingMethod='scale')";
    margin-left: 0;

    
	}	

.body-contact {
margin-top: 1% !important;
	text-align:center;
    
    width: 100%;
height: 100%;
    position: fixed;
  background: url("../images/contact.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/contact.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/contact.jpg', sizingMethod='scale')";
    margin-left: 0;

    
	}	
	
.banner {
   
    margin: 0 auto;
    background-color:white;
    height:75px;
    width: 1000px;
    
}


		

	a.links-about:link {
		color: black;
		text-decoration:none;
		word-spacing: 50px;
		font-family: "Century Gothic", Arial, Helvetica, sans-serif;
		font-size: 23pt;
	
		}



.links-about {
    float: right;

  margin-right: 2%;
    margin-top: 1.5%;
color:black !important;
   
}



.links-about:hover {
 
font-weight:bold;


   
}

.last {


  margin-right: 1%;

    
}
.logo {
    float:left;
    margin-left: 2%;
    margin-top: 1%
}


		.contact_blur {
		position:relative;
		margin-top: 50px;
		margin-right:auto;
		margin-bottom:auto;
		margin-left:auto;
		background-image: url("../images/ContactInfo.jpg");
		width: 747px;
       
            
		
		}


.form-group {
    
    
padding-left: 23%;
    margin-bottom: 20px;
    
    width: 100%;
    

}

input[type="text"]
{
    font-size:15px;
    font-family: "century gothic"
}

input[type="tel"]
{
    font-size:15px;
        font-family: "century gothic"
}

input[type="email"]
{
    font-size:15px;
        font-family: "century gothic"
}

#submit {
    
    font-size: 15px;
        font-family: "century gothic"
}

#message {
    font-size: 15px;
        font-family: "century gothic"
 
}